<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Senai.talkplay"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Primeira_Pergunta"
            android:label="@string/title_activity_primeira__pergunta"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Futebol"
            android:label="@string/title_activity_futebol"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Ranking"
            android:label="@string/title_activity_ranking"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PontosTotais"
            android:label="@string/title_activity_pontos_totais" >
        </activity>
    </application>

</manifest>
